@import url("https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

* {
  text-decoration: none;
  font-family: poppins, sans-serif;
}

span.swiper-pagination-bullet {
    background-color: #f9f9f9;
    border : 1px solid #480a4c;
    height: 6px;
    width: 30px;
    border-radius: 3px;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #480a4c;
  border : 1px solid #f8b2ff;
}

input {
  outline: 0 !important;
}